header {
  padding: 15px 0;
  width: 100%;
  background: #fff;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;

    @media (max-width: 468px) {
      padding: 0 5px;
    }

    @media (max-width: 380px) {
      padding: 0 5px;
      flex-direction: column;
    }

    .logo {
      margin: 0 10px;

      @media (max-width: 380px) {
        margin: 10px;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: 380px) {
      margin-left: 0;
    }

    button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
