header {
  padding: 17px 0;
  width: 100%;
  background: #fff;

  .container {
    display: flex;
    align-items: center;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
